# Database :

## library:
    
        MySQLdb
        
        mysqlclient
        
        pythonmysql
        
        sqlite3

## schema :
    description of database
 
## MYSQLdb :
        use for databse connectivity
    
    import MYSQLdb as sql
    db = sql.connect("localhost","root","","database_name")
    
## cursor :
    in this we have to create cursor
    
    syntax : a = db.cursor()
    
## commit :

         we have to commit after every transaction
         
         syntax : db.commit()
# PyMySQL : 
    
        for version 3.x

In [1]:
import pymysql as db

In [2]:
s= db.connect("localhost","root","","python_db")

In [3]:
c=s.cursor()

In [4]:
sql="""INSERT INTO DETAIL(NAME,EN_NO)VALUES('KRINA',49)"""

In [5]:
c.execute(sql)

1

In [46]:
import pymysql as ps

In [47]:
db = ps.connect("localhost","root","","python_db")

In [48]:
cur= db.cursor()

In [49]:
cur.execute("""INSERT INTO DETAIL(NAME,EN_NO)VALUES('KHUSHBOO',48)""")

1

In [50]:
db.commit()

In [51]:
sql="""UPDATE DETAIL SET COUNTRY='CANADA' WHERE ID=4"""

In [52]:
cur.execute(sql)

1

In [53]:
db.commit()