In [2]:
class name():
    def __init__(self):
        
        print("hello")
a=name()

hello

In [12]:
class student:
    def __init__(self):
        print("class created")
    
    def s(self,name,en_no,mo_no):
        print("name is ",name)
        print("en_no = ",en_no)
        print("mo_no = ",mo_no)
a=student()

class created

In [13]:
a.s("krina",49,1234566)

name is  krina
en_no =  49
mo_no =  1234566

In [8]:
a=student()

class created

In [14]:
a.s('krina',23,123344)

name is  krina
en_no =  23
mo_no =  123344

In [15]:
a=student()

class created

In [16]:
a.s('krina',23,123344)

name is  krina
en_no =  23
mo_no =  123344

In [ ]:
1